* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*
    One way of doing:

    background-image: url("assets/bg-mobile.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    */

    /*
    Other way using only one property:

    `background` is a short hand property
    order: color image repeat position / size
    */
    background: url("assets/bg-mobile.jpg") no-repeat top center / cover;
}

body * {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
}

#container {
    /* border: 1px solid red; */
    width: 360px;
    /* height: 712px; */
    margin: 56px auto 0px; /*top right bottom left*/
    padding: 0px 24px;
}

#profile {
    text-align: center;
    padding: 24px;
    /*
    Other way of centering the image, but
    the child `img` element can't be blocked
    */
}

#profile img {
    width: 112px;
    /* height: 112px; */
    /*
    Images are inline elements by default,
    margin doesn't work! To resolve that,
    we need to change the display to block

    display: block;
    margin: 0 auto;
    */
}

#profile p{
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/*
Links
*/

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0px;
}

/*ul li {}*/

ul li a {
    padding: 16px 24px;
    align-items: center;
    display: flex;
    justify-content: center;
    /*
    display: block;
    text-align: center;
    */

    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500; /*or bold*/

    transition: background .2s;
}

/*pseudo-selector*/
ul li a:hover{
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid white;
}

#social-links{
    padding: 24px 0px;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

#social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background .2s;
    border-radius: 50%; /*perfect circle*/
}

#social-links a:hover{
    background: rgba(255, 255, 255, 0.2);
}

footer{
    padding: 24px 0px;
    text-align: center;
    font-size: 14px;
}